
.contenedor-busqueda{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    gap: 30px;
}
.contenedor-resultados{
    background-image: url(fondo-perl.jpeg);
    
    padding: 20px;
}