body{
    background-image: url("img-portada.jpeg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.formulario{
    display: flex;
    align-items: center;
    gap: 30px;
}
.titulo{
    color: white;
    font-size: 6em;;
}
.formulario-entrada{
    height: 30px;
    border-radius: 5px;
    width: 400px;
    
}
.formulario-seleccionador{
    display: flex;
    flex-direction: row;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    white-space: wrap;
}
.contenedor-busqueda{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.formulario-enviar{
    width: 60px;
    height: 30px;
    align-self: start;
}